// bower:scss
// endbower


.BigNoodleTitling-Oblique { 
  font-family: BigNoodleTitling-Oblique;
  font-weight: normal;
  font-style: normal;
}
.BigNoodleBlockTitling { 
  font-family: BigNoodleBlockTitling;
  font-weight: normal;
  font-style: normal;
}
.BigNoodleTitling { 
  font-family: BigNoodleTitling;
  font-weight: normal;
  font-style: normal;
}


body {
  background: #fafafa;
  font-family: 'Arvo', sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  background-image: url("../images/noisy.png");
  box-shadow: inset 0 0 70px rgba(51, 51, 51, 0.36);
  position: relative;
  z-index: 5;

}
#how-old-you-be {
  display: block;
  background: #333;
  hidden: true;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 110;
  position: fixed;
  text-align: center;
  padding-top: 200px;

  &.active {
    display: none;
  }

  h2 {
    color: #fff;
    font-size: 1.5em;
    margin: 20px 0 0 0;
    text-transform: uppercase;
  }

  p {
    color: #fff;
  }
  .btn {

    position: relative;
    z-index: 99;
  }
}


.links {
  color: #fff;
  text-decoration: none;
  cursor: auto;
}

.logo{
  width: 150px;
  position: relative;
}

.header {
  text-align: center;
  margin: 70px auto;
  text-transform: uppercase;
  font-family: BigNoodleTitling;
  font-size: 70px;

}

.main-image {
  width: 100%;
  height: 413px;
  background: rgb(61, 60, 66);
  background-image: url(../images/brew1.jpg);
  background-attachment: fixed;
  background-size: 1660px;
  margin: 0;
  display: inline-block;
  box-shadow: -2px -2px 1px #333;
  border-bottom: 10px solid #333;
  ul {
    margin: 20px auto;
    list-style: none;
    color: #fff;
    text-align: center; 
    padding: 0;
  }   
  li {
    display: inline;
    margin-left: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 1px 2px 3px #333;
  }
  li:hover{
    padding-bottom: 5px;
    border-bottom: 3px solid #FFF;
    text-shadow: 1px 2px 3px #333;
  }
  ul li:nth-child(3n+3) {  
    border-bottom: none;
  }
}


.about {
  width: 100%;
  display: inline-block;
  // padding-bottom: 50px;
  background: rgb(237, 237, 237);
  // box-shadow: 25px -23px 59px -19px #000;
  position: relative;
  z-index: 100;
  border-bottom: 10px solid #333;
  border-top: 10px solid #333;

    h1 {
      margin: 38px auto;
      color: #333;
    }

  .about-text {
    letter-spacing: 2px;
    width: 800px;
    margin: 0 auto;
    line-height: 22px;
    color: #333;
    margin-bottom: 40px
  }
}

.products {
  width: 1000px;
  display: inline-block;
  margin: 0 300px;
 
  div {
    margin: 0 21px 0 64px;
    width: 400px;
    height: 400px;
    // background: #333;
    display: inline-block;
    vertical-align: center;
    .hero {
      width: 400px;
    }
  }
  p { 
    vertical-align: top;
    display: inline-block;
    /* height: 221px; */
    width: 452px;
    margin-top: 130px;
    line-height: 25px;
    font-size: 18px;
    border-left: 5px solid #333;
    padding-left: 28px;
  }
  // .stout-text {
  //   margin-top: 120px;
  // }
}


.news {
  width: 100%;
  display: inline-block;
  padding-bottom: 70px;

  .container{
    margin: auto;
    width: 800px;
  }
  .line{
    margin-top: 20px;
    border-bottom: 1px dashed #333;
    // display: inline-block;
  }
  .img {
    margin: auto;
    width: 800px;
    height: 400px;
    // background: rgb(190, 190, 190);
    vertical-align: top;
    box-shadow: 0 2px 5px 0px rgba(51, 51, 51, 0.27);
  
  }
  .heading {
    font-style: italic;
    margin-bottom: 20px;
    width: 100%;
  }
  p {
    width: 800px;
    margin-bottom: 70px;
    line-height: 26px;  
    font-size: 18px;
    font-style: normal;
  }
}

.contact {
  width: 100%;
  background: rgb(60, 60, 60);
  padding: 10px 0;
  border-top: 11px solid #2C2C2C;
  box-shadow: inset -0px 6px 30px -5px #131313;
  
  .icons {
    width: 450px;
    margin: -47px auto 23px auto;
    vertical-align: top;
  }
  .one {
    margin-left: 45px;
    margin-top: 75px;
    height: 100px;
    width: 100px;
    display: inline-block;
    border-radius: 100%;
    background: #333;
    box-shadow: inset 0px 0 4px #2C2C2C;

  }
  p {
    text-align: center;
    color: #8F8F8F;
    margin-left: 30px;
  }
}

.ion {
  color: #fafafa;
  text-align: center;
  line-height: 100px;
  width: 100px;
  font-size: 38px;

  &:hover {
    color: #2C2C2C;
  }

}

.wrapper {
  width: 100%;
  height: 350px;
  overflow: hidden;
  position: relative;
    h1 {
      margin-top: 30;
      position: relative;
      z-index: 300;
    }
}

.texture {
  width: 100%;
  background-image: url(../images/texture.jpg);
  background-attachment: fixed;
  background-size: 2700px;
  position: relative;
  z-index: 100;
  display: inline-block;
  position: relative;
}

.color {
  background: rgba(248, 195, 28, 0.76);
  width: 100%;
  // height: 234px;
  display: inline-block;
  z-index: 200;
  position: relative;
  margin-top: 0px;
  // box-shadow: inset 0 0 100px #000000
}

// p {
//   font-family: georgia;
//   font-size: 20px;
// }